
.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

.app-main-heading{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    background-color: silver;
    color: white;
}
/*style for clock*/
#main-time{
    text-align: center;
    font-size: 2rem;
    border: 2px solid pink;
    
}


/*main grid styles */
#s1-clock{grid-area: s1-clock;}
#s2-entry-form{grid-area: s2-entry-form; }
#s3-delete-form{grid-area: s3-delete-form;}
#s4-current-activity-section{grid-area: s4-current-activity-section;}
.desktop-view-grid{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 2rem;
    grid-template-areas: 
        "s1-clock"
        "s2-entry-form"
        "s3-delete-form"
        "s4-current-activity-section"

}

@media (min-width: 640px){
    .desktop-view-grid{
    margin: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2rem;
    grid-template-areas: 
        "s1-clock s2-entry-form"
        "s4-current-activity-section s2-entry-form"
        "s4-current-activity-section s3-delete-form"
        ;
        

}

    
    
}
